body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 8px;
    margin-top: 5px;
    background: #eee;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
